body{
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(222, 230, 236);

}
#secone img:not(.link){
    position: relative;
    top: 30%;
    left: 60px;
    width: 100px;
    height: 100px;
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#secone img:hover{
    opacity: 0.5;
}
#sectwo{
    float: left;
    padding-left: 100px;
    padding-top: 30px;
}
main{
    font-family: 'Anton', sans-serif;  
}

main h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #92967d;
}
#sectwo img{
    height: 400px;

}
.link{
    position: relative;
    height: 20px;  
    padding-left: 10px;
}

#secthree {
    width: 70%;
}
#secthree h5{
    position:relative;
   left:200px;
   font-size: large;
}
#secthree p,#secthree a{
    position: relative;
    left: 200px;
}
