main{
box-sizing: border-box;
}
#secone img:not(.link){
    position: relative;
    top: 30%;
    left: 60px;
    width: 100px;
    height: 100px;
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;
}
#secone{
    background-color: #8E8F4F;
}
#secone img:hover{
    opacity: 0.5;
}

main h1{
    color: #8E8F4F;
    font-family: 'Coda Caption', sans-serif;
    text-align: center;
}
#sectwo img:not(.link){
    width: 400px;
    height: 400px;
}
.link{
    width: 20px;
    height: 20px;   
}