@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
body{
    position: relative;
    background-color: whitesmoke;
}
body p{
    font-family: 'Work Sans', sans-serif;
}
body h1,h2,h3,h4,h5,h6,a{
    font-family: 'Noto Serif', serif;
}
header{
    top:0px;
    width:100%;
    left: 0px;
    right: 0px;
}
main{
    text-align: center;  
    position: relative;
}

.table1{
    margin-left: 30%;
    border-collapse: collapse;
    width: 40%;
    box-shadow: 5px 10px 20px #000000 ;
}
th,td{
    padding: 8px;
}
tr{
    padding: 100px;  
}
tr:nth-child(even){
    background-color: white;
   color: black;
   }
tr:nth-child(odd){
    background-color: #000000ab;
    color:white
}
tr:nth-child(odd):hover {
    background-color:rgb(190, 190, 190);
    
    color: black;
} 

tr:nth-child(even):hover {
    background-color:  rgb(190, 190, 190);
    color: white;
    
}


th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000000dc;
    color: #ffffff;
  }
#tableForJoin{
    margin-left: 30%;
    border-collapse: collapse;
    width: 40%;
    box-shadow: 5px 10px 20px #000000 ;
}
#tableForService{
    margin-left: 30%;
    border-collapse: collapse;
    width: 40%;
    box-shadow: 5px 10px 20px #000000 ;
}
main h1{
  text-align:center; 
}
main img{
    margin-top: 7%;
    margin-left: auto;   
    margin-right: auto;
    
}


