*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

#display-sec{
    
    padding: 4%;
     background-color: #eee;
     margin: 0% ; 
     justify-content: center;
     align-items: center;
     width: 100%;
    
}

.items{
    width: 20%;
    height: 430px;
    /* max-height: 430px; */
    display: inline-block;
    margin-left: 4%;
    
    padding: 20px;
    border: 2px solid rgb(106, 106, 158);
    text-align: center;
    border-radius: 10%;
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #1cd8d2, #93edc7);
   
}

.absImg{
    position: absolute;
    top: 12%;
    left: 0;
    transform: rotate(-30deg);
    opacity: 0.5;
}

.items h4,p{
    text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
}

.items img{
    margin-top: 5%;
    height: 150px;
    width: 100%;
    

}

.items button{
    width: 51%;
    height: 47px;
    font-size: 1rem;
    background-color: blanchedalmond;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -3%;
}
#form-sec{
    padding-top: 80px;
    position: relative;
}

#form-sec img{
    width: 100%;
    
 }
#form1{
         position: absolute; 
         width: 35%;
          margin: 20px auto;
          top:19%;
          right: 11%;
          
}


#form1 input,select,textarea{
        padding: 12px;
          margin-bottom: 10px;
          width: 82%;
          border: 2px solid rgb(69, 69, 107);
        border-radius: 25px;
        
      }

      #form1 select{
          width: 89%;
      }


      #form1 button {
        width: 38%;
        height: 40px;
        margin-left: 29%;
        cursor: pointer;
    }

  


        
