body{
    margin: 0;
}

#display-sec{
    
    
     background-color: #eee;
     margin: 4% auto; 
     justify-content: center;
     align-items: center;
     width: 80%;
     flex-direction: column;
     
}

.items{
    width: 20%;
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 4%;
    margin-top: 4%;
    padding: 20px;
    border: 2px solid rgb(106, 106, 158);
    text-align: center;
    border-radius: 10%;
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #1cd8d2, #93edc7);
   
}

.absImg{
    position: absolute;
    top: 12%;
    left: 0;
    transform: rotate(-30deg);
    opacity: 0.5;
}

.items h4,p{
    text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
}

.items img{
    margin-top: 5%;
    width: 100%;
    

}

.items button{
    width: 51%;
    height: 47px;
    font-size: 1rem;
    background-color: blanchedalmond;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -3%;
}
#form-sec{
    padding-top: 80px;
}
#form1{
          width: 35%;
          margin: 20px auto;
          
}


#form1 input,select,textarea{
        padding: 12px;
          margin-bottom: 10px;
          width: 82%;
          border: 2px solid rgb(69, 69, 107);
        border-radius: 25px;
        
      }

      #form1 select{
          width: 89%;
      }

      #form1 button {
        width: 38%;
        height: 40px;
        margin-left: 29%;
        cursor: pointer;
    }

    #test{
        padding-top: 80px;
       
        margin-right: auto;
        margin-left: auto;
    }

    #test img{
       width: 100vw;
    }

    
    #form2{
          position: fixed; 
         z-index: 100;
        background: #fff;
        height: 538px;
        width: 30%;
       margin: 20px auto;
       top: 50%;
       right: 32%;
       height: 157px;
       top: 30%;
    right: 32%;
    height:50%;
     
  }


#form2 input,select,textarea{
    padding: 12px;
      margin-bottom: 10px;
      width: 82%;
      border: 2px solid rgb(69, 69, 107);
    border-radius: 25px;
}

#form2 button {
    width: 38%;
    height: 40px;
    margin-left: 29%;
    cursor: pointer;
}

#form2 h3{
    text-align: center;
    
}

 