footer{
    clear: both;
    position: relative;
    background-color:#000000;
    text-align: center;
    width: 100%;
    padding-bottom:10px;
    height: 100%;
} 
footer h5,footer p{
    /* padding-top: 25px; */
    font-size:large;
    color: white;
}
footer img{
    padding-top:30px;
   width:140px;
}
#footer{
    background-color:#363636 ;
}
