*{box-sizing: border-box;}
header{
    background-color: #114E60;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index:1;
}
/* header nav #headlist a.active{
    background-color: white;
} */
header img{
    margin-left: 5px;
}
#headlist a.active {
    background-color: rgb(244, 247, 250);
  }

  #google_translate_element{
      display: inline-block;
      position: absolute;
margin-left: 50px;
margin-top:15px;



  }
#headlist{
 position: relative;
display:block;
right: 50px ;
float:right;
margin-top: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#headlist a{
    text-decoration: none;
    color:#95b0b6;
    padding: 20px;
}
  a:hover{
    background-color:white;
    font-size: 25px;
}
