@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: rgb(222, 230, 236);
    margin: 0px;
    width: 100%;
}


#right{

    float: right;
    width: 50%;
    margin-top: 100px;

}

#left{
    
    margin-top: 120px;
    margin-left: 100px;
float: left;
width: 40%;
/*padding: 30px;*/
text-align: center;
}   

 form {

    
    display: inline-block;

    width: 40%;
    margin-top: 30px;
    margin-left: 10%;

}

#left p {

    text-align: justify;
    padding: 10px;

}

#second{
    display: inline-block;
    width: 100%;
    margin: 10px;
    text-align: center;
}

#second form{

    display: inline-block;

    width: 25%;
    margin-top: 30px;
    margin-left: 50%;
}


#building{

    background-color:#95B0B6;

}
#teaching{
    background-color:#95B0B6;
}
#carpenting{
    background-color:#95B0B6;
}
#plumbing{

background-color: #95B0B6;
}
#painting{

    background-color:#95B0B6;
}
#electric{
    background-color: #95B0B6;
}

/* main{
position: relative;

} */

#joinHere{
    background-color: #95B0B6;
    width: 80px;
    height: 40px;
     margin-left: 20px; 
  border-radius: 10px;
  /* position: fixed;
  overflow: hidden; */
}
#sectionTwo2{
    background-color: #95B0B6;
    
     margin-left: 20px; 
     border-radius: 10px;
     padding: 10px;
     
     
       /* position: -webkit-sticky;
       position: sticky;
       top: 0;
       background-color: yellow;
       padding: 50px;
       font-size: 20px; */
    

}