*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    background-color: white;


}
header{
    background-color: #114E60;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index:5;
    top: 0px;
} 
 header img{
    margin-left: 5px;
} 

#headlist{
 position: relative;
 display:block;
 right: 50px ;
 float:right;
 margin-top: 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#headlist a{
    text-decoration: none;
    color:#95b0b6;
    padding: 20px;
}

aside{
    top: 74px;
    float: left;
    width: 20%;
    height: 90%;
    position:fixed;
    background-color:#999b84;
    z-index: 5;
    color: black;
    padding-left: 10px;
   
}
#right img{
    position:absolute;
    /* border-radius: 40%; */
    float: left;
    top: 9px;
    left: 20px;
}
#right div{
    margin-bottom: 10px;
    width: 100%;
    clear: both;
    height: 10%;
    position: relative;
}
#right div h5{
position: absolute;
display: inline-block;
padding-left: 70px;
font-size: 18px;
/* padding-bottom: 6px; */



}
#left{
    position: relative;
    top: 67px;
    height: 490px;
    float: right;
    width: 80%;
    color: #114E60;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    z-index: 0;

}
#left section{
    height: 100vh;

}
aside div:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius:15px 0px 0px 15px ;
}
aside button{
    padding: auto;
    margin-left: 50%;  
}


#left form {
  background: #fff;
  box-shadow: 0 30px 60px 0 #95b0b6;
  border-radius: 5px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  border-top: 5px solid #114E60;
  z-index: 0;
  animation: bounce 1.5s infinite;
}
#left input ,#left textarea {
  background-color: #ebebeb;
  color: black;
  display: block;
  margin: 2px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

#left input:last-child {

    color:#114E60;
    font-size: large;
    border-radius: 10px;

}
#askSubmit:hover {
    color: #f8f5f1;
    background-color: #8bafbe;
    cursor: pointer;
    border-radius: 10px;

    transform: scale(0.977);
    transition-duration: 0.2s;
}

#left textarea{
    background-color: #ebebeb;
    overflow: hidden;
    height: 3rem;
}
  
#left textarea:hover {
    border-bottom: 5px solid #f8f5f1;
    height: 6em;
    width: 380px;
    transition: ease 0.5s;
}
#sectionTwo2{
    
    backdrop-filter: blur(3px);
    
    position: fixed;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    display: none;

}
#sectionTwo2 form{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    height: 259px;
    position: relative;

}
#sectionTwo2 fieldset{
    background-color:rgb(28 29 30 / 78%);
    height: 160%;
    width: 98%;
    border:none;
    /* border:2px solid #114E60; */
    border-radius: 15px;
    box-shadow:5px 10px 18px #2f3536;
    
}
#sectionTwo2 legend{
    text-align: center;
    font-size: xx-large;
    color:white;
    padding-top: 33px;
}


#sectionTwo2 label{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-size: larger;
    font-weight:600;
    color:white;


}

#sectionTwo2 input{
    display: block;
    width: 98%;
    height: 11%;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color:black;
    border:2px solid #2f3536;
}


#cancel{
    /* background-color: #d9dcdd; */
    border-radius: 29px;
    margin-right: auto;
    margin-left: auto;
    border:none;
    position: absolute;
    color: white;
    top: 41px;
    right: 14px;
    font-size: x-large;
    background:none;
    cursor: pointer;
}

#submitAndFinish{
    border: 2px solid #2f3536;
    border-radius: 16px;
    color:black ;
    font-weight: 600;
    width: 35%;
    margin-left: 32%;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
}
#submitAndFinish:hover{
    transform: scale(1.1);
}
#cancel:hover{
    transform: scale(1.1);
}
#joinHere{
        position: absolute;
        background-color: black;
       width: 170px;
        height: 40px;
        left: -30%;
        bottom: 1%;
        border-radius: 10px;
        font-size: large;
        border:0;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-weight: 600;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-ser;
     
}
#joinHere:hover{
    background-color: #8bafbe;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(0.977);
    transition-duration: 0.2s;
}

#imageService{
    position: absolute;
    top:6%;
    right:40%;

}
